body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page{
    background: linear-gradient(rgba(0, 0, 0, 0.557),rgba(0, 0, 0, 0.7) ),url('../assests/front.jpg') ;
    background-size: cover;
    background-position: center 77px;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100%;
}
.navbar ul{
    display: flex;
    flex-wrap: wrap;
    /* width: 75vw; */
    font-size: 13px;
    font-weight:550;
    padding: 0;
}
.navbar li{
    color: white;
    list-style: none;
    padding: 15px 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar{
    display: inline-block;
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
    
    /* width: 450px; */
    /* border: 2px solid red; */
}
.navbar li a{
    text-decoration:none;
    color: black;
    /* font-family: "Open Sans", Sans-serif; */
    font-family: Arial, sans-serif;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar ul li:hover::after
{
    width: 100%;
}

.content{
    width: 70%;
    height: 400px;
    display:flex;
    margin: auto;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.heading{
    font-size: 2rem;
}
.CDSA{
    padding: 10px;
    padding-top: 0;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
}
.info{
    font-size: 1.2rem;
}
.btn{
    font-size: 1.05rem;
    width: 250px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition: all 0.5s ease-in-out;
}
.btn:hover{
    background-color: orange;
    transform: scale(1.2);
    border: none;
}

.i1{
    width: 52px;
    margin: auto;
    border-radius: 50%;
    margin-top: 10px;
}


.sideimage{
    float:right;
    overflow: auto;
    font-family: 'Bree Serif', serif;
    font-size: 17px;
    margin: auto;
    margin-top: 0px;
    padding-top: 0px;
}

.daulogo{
    margin-top: 5px;
}
.i2{
    width: 80px;
}
#bars{
    display: none;
}
.navbar .fa{
    display: none;
}
.fa-bars:before{
    color: black;
    font-size: 25px;
}
.wholenavbar{
    background-color: white;
    min-height: 75px;
    width: 90%;
    margin: 0 auto;
    border-radius: 50px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex; /* Flex for horizontal layout */
    align-items: center; /* Vertically center items */
    
}


@media(max-width:1500px)
{
    .navbar ul{
        width: 75vw;
    }
    .page{
        background-position: center 130px;
    }
    .daulogo{
        margin-top: 25px;
    }
    .cdsalogo{
        margin-top: 20px;
    }
}

@media(max-width:1160px)
{
    .daulogo{
        margin-top: 5px;
    }
    .cdsalogo{
        margin-top: 2px;
    }
    .page{
        background-position: center 75px;
    }
    .navbar ul{
        margin-top: 40px;
        display: flex;
        flex-direction: column;  
        align-items: center;
        width: 400px;
    }
    .navbar ul li{
        display: inline-block;
        margin: 5px;
        margin-left: 0;
    }
    .navbar{
        position: fixed;
        background: rgb(216, 211, 211);
        /* height: 75vh; */
        width: 330px;
        top: 0;
        left: -400px;
        text-align: left;
        transition: 1s;
        border-radius: 20px;
    }
    .navbar .fa{
        width: 20px;
        display: inline-block;
        /* margin-left: 10px; */
        margin-right: 20px;
        cursor: pointer;
        color: black;
        font-size: 25px;
    }
    #bars{
        top: 0;
        margin: 0;
        display: inline-block;
        color: white;
        margin-left: 20px;
        margin-top: 5px;
        cursor: pointer;
    }
    #close{
        margin-top: 10px;
        margin-left: 300px;
    }
    ul{
        padding-inline-start: 80px;
    }
    .wholenavbar{
        position: fixed;
    }
}
.intro{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 89%;
    margin: auto;
    margin-top: 40px;
}
.head1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}
.c1{
    margin-top: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
}
.c2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 2px solid red; */
}
.r1{
    /* border: 2px solid red; */
    padding: 10px;
    margin: 20px;
    /* border: 2px solid red; */
    border-radius: 24px;
    background: bisque;
    box-sizing: border-box;
    transition: all 0.5s;
}
.r1 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.r1:hover{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}
@media(max-width:700px)
{
    .c2{
        flex-direction: column;
    }
    .item {
        width: 95%;             /* Takes 90% of parent width */
        height: auto;           /* Height adjusts automatically */
        min-height: 200px;      
        max-width: 500px;      
        margin: 0 auto;         
    }
}

@media screen and (max-width: 530px) {
    .item {
        width: 95%;             /* Takes 90% of parent width */
        height: auto;           /* Height adjusts automatically */
        max-height: 350px;      
        max-width: 400px;      
        margin: 0 auto;   /* Smaller minimum height */
    }
}

@media screen and (max-width: 460px) {
    .item {
        width: 95%;             /* Takes 90% of parent width */
        height: auto;           /* Height adjusts automatically */
        max-height: 320px;      
        max-width: 350px;      
        margin: 0 auto;   /* Smaller minimum height */
    }
}

.carousel-wrapper {
    height: 600px;
    width: 100%;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}

main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}

div.item {
    position: absolute;
    width: 600px;
    height: 450px;
    /* background-color: coral; */
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
    transform: rotateY(calc(-10deg * var(--r)))
        translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: calc(1 - (var(--abs) * 0.2));
}

div.item:nth-of-type(1) {
    --offset: 1;
    background-image: url('../assests/DSC_1522.jpg');
}
div.item:nth-of-type(2) {
    --offset: 2;
    background-image: url('../assests/DSC_1555.jpg');
}
div.item:nth-of-type(3) {
    --offset: 3;
    background-image: url('../assests/DSC_1642.jpg');
}
div.item:nth-of-type(4) {
    --offset: 4;
    background-image: url('../assests/DSC_1444.jpg');
}
div.item:nth-of-type(5) {
    --offset: 5;
    background-image: url('../assests/DSC_1437.jpg');
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
}

